@model examination_system.Models.View_Models.SignInViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="heading-section">Examination System</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="login-wrap p-0">
                    <h4 class="text-center" style="color:white;">Sign In</h4>
                    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-12">
                            <div style="display:flex;justify-content:center;">
                                <input required style="display:none" onchange="browseResult(event)" id="ImgFile" type="file" name="ImgFile" value="" accept="image/*" />
                                <img src="~/Resources/Account/profile.png" style="width:100px;height:100px;" id="ImgFileshow" onclick="document.getElementById('ImgFile').click();"/>
                            </div>
                        </div>
                        @Html.AntiForgeryToken()

                <div style="display:flex;flex-wrap:wrap">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="col-6">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = " text lbel control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text lbel control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "text lbel control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-6">


                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "text lbel control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text lbel control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6">
                        <label>submit</label>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                    </div>
                    </div>
                    }
                    <br />
                    <div class="social d-flex text-center" style="justify-content:center;">
                        <a href="#" class="col-3 px-2 py-2 mr-md-1 rounded">
                            <span class=" mr-2"></span>
                            Google
                        </a>
                        <a href="#" class="col-3 px-2 py-2 ml-md-1 rounded">
                            <span class="mr-2"></span>
                            Microsoft
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>
        document.getElementById("Username").click();
        function browseResult(event) {
            document.getElementById("ImgFileshow").src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}
<style>
    label {
        font-size: 20px;
    }
</style>