@using examination_system.Models
@{
    ViewBag.Title = "classes";
    List<Class> myClasses = ViewBag.myClasses;
    List<Class> OtherClasses = ViewBag.OtherClasses;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("class", htmlAttributes: new { @class = "lbel control-label col-md-2" })
            <div class="col-md-10">
                <select name="Class" id="Class" class="form-control slect" required>
                    <option selected></option>
                    @foreach (var c in OtherClasses)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="pnlbutton btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="all">
    <div>
        @if (myClasses != null)
        {
            foreach (var Class in myClasses)
            {

                @Html.Partial("_RClass", Class);
            }
        }
        else
        {
            <div class="pnl">
                <h2 style="padding:10px">you aren't Register in any class</h2>
            </div>
        }
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@section Scripts {
    <script>
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        function deleteclass(id) {
            if (confirm('Are you sure you want to delete Class'))
                $.ajax({
                    url: '/Class/DeleteRegister',
                    type: 'POST',
                    data: { __RequestVerificationToken: token, Id: id },
                    success: function () { location.reload() },
                });
        }
        function dlt(id) {
            var i = document.getElementById(id);
            i.style.display = "none"
        }
        function filldots(id) {
            var i = document.getElementById(id);
            if (i.style.display == "none")
                i.style.display = "block";
            else
                i.style.display = "none"
        }
    </script>
}