@using examination_system.Models
@model List<Question>

@{
    ViewBag.Title = "Questions";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}
<div style="margin:0 70px">
    <h2 class="text">Questions</h2>
    <span class="text lbel">search Question Body</span>
    <input id="searchQuestion" class="text input" value="@ViewBag.SearchName" oninput="GetClasss()" type="text" />
    <br />
    <span class="text lbel">search Question class</span>
    <input id="searchclass" class="text input" value="@ViewBag.Searchclass" oninput="GetClasss()" type="text" />
    <button onclick="a.click()" style="width :100px !important;height:30px;margin:10px">Search</button>
</div>
<div class="all">
    <div>
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=1" onmouseover="setSearchName(event)">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@(pager.CurrentPage-1)" onmouseover="setSearchName(event)">previous</a>
                    </li>
                }
                @for (var p = pager.StartPage; p <= pager.EndPage; p++)
                {
                    <li class="page-item @(p==pager.CurrentPage?"active":"")">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@p" onmouseover="setSearchName(event)">@p</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@(pager.CurrentPage+1)" onmouseover="setSearchName(event)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@pager.TotalPages" onmouseover="setSearchName(event)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div>
        @foreach (var Question in Model)
        {
            if (Question != null)
            {
                @Html.Partial("_Question", Question, ViewData);
            }
        }
        @if (User.IsInRole("professor") || User.IsInRole("superadmin"))
        {
            <div class="pnladd col-sm-10" onclick="document.getElementById('add').click()">
                <a href="~/Question/Add" id="add"></a>
                <img src="~/Resources/Account/add.svg" class="Img" />
                <div>ADD NEW</div>
            </div>
        }
    </div>
    <div>
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=1" onmouseover="setSearchName(event)">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@(pager.CurrentPage-1)" onmouseover="setSearchName(event)">previous</a>
                    </li>
                }
                @for (var p = pager.StartPage; p <= pager.EndPage; p++)
                {
                    <li class="page-item @(p==pager.CurrentPage?"active":"")">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@p" onmouseover="setSearchName(event)">@p</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@(pager.CurrentPage+1)" onmouseover="setSearchName(event)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/Question/Index?SearchName=&Searchclass=&pg=@pager.TotalPages" onmouseover="setSearchName(event)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script>
        function deleteclass(id) {
            alert("ARE YOU SURE TO DELETE USER")
            $.ajax({
                url: '/Question/Delete?Id=' + id,
                data: { Id: id },
                success: function () { location.reload() }
            });
        }
        function dlt(id) {
            var i = document.getElementById(id);
            i.style.display = "none"
        }
        function filldots(id) {
            var i = document.getElementById(id);
            if (i.style.display == "none")
                i.style.display = "block";
            else
                i.style.display = "none"
        }
        var a = document.createElement('a');
        function GetClasss() {
            var searchQuestion = document.getElementById("searchQuestion");
            var searchclass = document.getElementById("searchclass");
            a.href = "/Question/Index?SearchName=" + searchQuestion.value + "&searchclass=" + searchclass.value + "&pg=1"
        }
        function setSearchName(event) {
            var searchQuestion = document.getElementById("searchQuestion");
            var searchclass = document.getElementById("searchclass");
            var h = event.target.getAttribute('href');
            if (h.search("SearchName=&") != -1)
                h = h.replace('SearchName=', 'SearchName=' + searchQuestion.value)
            if (h.search("searchclass=&") != -1)
                h = h.replace('searchclass=', 'searchclass=' + searchclass.value)
            event.target.setAttribute('href', h);
        }
    </script>
}
